h1{
	color: #FCEF91;
  font size: 100px ;
  text-align: center;
}
h2{
  color: #FCEF91;
  font size: 75px;
  text-align: center;
}

body {
  background-image: url('image/space_fond_ecran1.jpg');
} 
button { 
  