h1{
	color: #FCEF91;
  font size: 100px ;
}
h2{
  color: #FCEF91;
  font size: 75px;
}
body{
	text-align: center;
}
<style
body {
  background-image: url('image/space_fond_ecran1.jpeg');
}>