h1{
	color: #FCEF91;
  font size: 75px ;
}
h2{
  color: #FCEF91;
  font size: 50px;
}
body{
	background-color: #C0C9EE;
}
body {
 background-image: "https://img.freepik.com/vecteurs-libre/arriere-plan-aquarelle-abstraite-peinte-main_361591-2731.jpg?semt=ais_hybrid&w=740";
}

body{
	text-align: center;
}
<style
p {
  background-image: url(space_fond_ecran.JPG);
}
